# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CLionProjects\acc-cosc-1337-fall-2020-ac-bdwlf-86\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
